<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>登陆</title>
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="bgpic">
	<div class="backfiler">
		<div class="loginBG">
			<div class="loginFiler">
				<div class="left">
					<h1>WHAT IS LOVE ?</h1>
				</div>
				<div class="right">
					<h1>登录</h1>
					<h4 th:text="${msg}"></h4>
					<form action="/login" method="post">
						<label for="name">用户名：</label><br>
						<input name="name" id="name" class="inputText"><br>
						<label for="passwd">密码：</label><br>
						<input name="passwd" type="password" id="passwd" class="inputText"><br>
						<button class="loginBtn">登录</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
